*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 52, 52);
    color: white;
    padding: 20px;
    
}
.btn{
    display: flex;
    align-items: center;
}
.btn-left{
    padding: 5% 10px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.btn-right{
    padding: 5% 10px;
    margin-right: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.btn-left:hover{
    background-color: grey;
}
.btn-right:hover{
    background-color: grey;
}